<div class="container">
<div class="row">
<div class="col">
<h1>
    Contact Us

</h1>
 <p>For your safety, NEVER share your credit card details with anyone. For confirmation purposes, only the first 6 digits and the last 4 digits of your card number will be requested. NEVER share your card's expiration date or CVV number, as shown in the images below</p>
</div>
</div>
<div class="text-center">
<div class="secondfooter">
    <h1>HAVE A QUESTIONS?</h1>
    <h4> <i class="fa-solid fa-location-dot "></i> sousse tunisia</h4>
    <h4> <i class="fa-solid fa-phone"></i> +216 999 999</h4>
    </div>

    <div class="divlogo">
        <h1 class="logo">mini <b>shope</b></h1>
        <h6>Far far away, behind the word mountains, far from the countries</h6>
        <div>
            <i class="fa-brands fa-twitter"></i>  
            <i class="fa-brands fa-facebook"></i>
            
            <i class="fa-solid fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div> 
</div>
</div>
