<div class="container"><div class="row">
    <div class="col-12">
      <div class="bestsellers"><h1>
      <b> First</b>  Category
      </h1></div>
    </div>
  </div></div>
  
  <div class="container">
  <div class="row justify-content-center">
   
    <div class="col-auto" *ngFor="let item of productlist; index as i">
      <div class="card" >
        <img src="{{ item.img }}" class="card-img-top" alt="..." />
  
        <div class="textofcard">
          <div class="">
            <h5 class="card-title ">{{ item.name }}   </h5>
            <p class="card-text">
              <b>{{ item.price }}$</b>
           
            </p>
  
          </div>
         
          <button class=" buybutton" routerLink="/details/{{ item.id }}">buy</button>
           
        
  
          <!-- <a *ngIf="add !== i" class="btn btn-primary" (click)="addtocart(i)"
            >add to cart</a
          >
          <button *ngIf="add === i" class="btn btn-primary" (click)="buy()">
            done
          </button> -->
        </div>
      </div>
    </div>
   
  
  </div>
  </div>